.Btn-Sorting {
  display: flex;
  justify-content: center;
}

.Tittle-filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 1;
  font-size: 20px;
  letter-spacing: 2px;
  align-self: center;
  text-shadow: 4.5px 7px 6px rgb(0, 0, 0);
  padding-left: 15%;
}

.GrosseDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 25%;
}

.Btn-Small,
.Btn-Medium,
.Btn-Big,
.Btn-Dangerous,
.Btn-Safe {
  font-variant: small-caps;
  color: white;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid #ffffff3b;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.9em 2em;
  text-decoration: none;
  align-self: center;
  justify-self: flex-end;
  transition: 1.4s;
  margin-bottom: 4em;
}
.Btn-Name {
  margin-right: 1em;
  margin-left: 1em;
  width: 14.8em;
}
.Btn-Name,
.CalendarBtn {
  font-variant: small-caps;
  color: white;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: rgba(7, 7, 7, 0.082);
  border-radius: 6px;
  border: 1px solid #ffffff3b;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.3em 2em 0.3em 2em;
  text-decoration: none;
  align-self: center;
  /* justify-self: flex-end; */
  transition: 0.6s;
}

.clearSearch {
  font-variant: small-caps;
  color: white;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: rgba(7, 7, 7, 0.082);
  border-radius: 6px;
  border: 1px solid #ffffff3b;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.3em 1em 0.3em 1em;
  text-decoration: none;
  transition: 0.6s;
  margin-left: 1em;
}

.Btn-Small:hover,
.Btn-Medium:hover,
.Btn-Big:hover,
.Btn-Dangerous:hover,
.Btn-Safe:hover,
.Btn-Name:hover,
.CalendarBtn:hover,
.clearSearch:hover {
  background-color: rgba(72, 75, 116, 0.336);
  color: #fdfdff;
  transition: 0.2s;
}
.CalendarBtn {
  margin-left: 2em;
  margin-right: 1em;
}
.Btn-Dangerous {
  margin-left: 15px;
}

.Filter-Name {
  display: flex;
  justify-content: center;
}
.Input-Name {
  width: 150px;
  height: 50%;
  margin-right: 0.3%;
  margin-left: 1%;
  border-radius: 6px;
  border: 1px solid #ffffff3b;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 0.3em;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
}

.CalendarGlobal {
  display: flex;
  align-self: flex-end;
  margin-top: 1.5em;
  margin-left: 27%;
}

.CalendarStart,
.CalendarEnd {
  border: 2px solid #ffffff3b;
  cursor: pointer;
  background-color: rgba(7, 7, 7, 0.082);
  color: #ffffff;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  letter-spacing: 1px;
}

.CalendarEnd {
  font-style: italic;
  color: darkgrey;
}

.AllFilter {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.CardName {
  display: flex;
  justify-content: flex-end;
}

.DateNameFilter {
  display: flex;
  /* align-items: baseline; */
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 3em;
  border-top: 2px solid #ffffff3b;
  border-right: 2px solid #ffffff3b;
  border-left: 2px solid #ffffff3b;
}

.EmptySearch {
  height: 38vw;
}

.ResultNameFilter {
  border: solid red 2px;
}
