.Btn-Sorting {
  display: flex;
  justify-content: center;
}


.Btn-Small,
.Btn-Medium,
.Btn-Big,
.Btn-Dangerous,
.Btn-Safe {
  font-variant: small-caps;
  color: white;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: rgba(255, 255, 255, 0.075);
  border:1px solid #ffffff3b;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.9em 2em;
  text-decoration: none;
  align-self: center;
  justify-self: flex-end;
  transition: 1.4s;
  margin-bottom: 4em;
}
.Btn-Name {
  margin-right: 1em;
  margin-left: 1em;
  width: 14.8em;
}
.Btn-Name,
.CalendarBtn {
  font-variant: small-caps;
  color: white;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  background-color: rgba(7, 7, 7, 0.082);
  border-radius: 6px;
  border: 1px solid #ffffff3b;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.3em 2em 0.3em 2em;
  text-decoration: none;
  align-self: center;
  justify-self: flex-end;
  transition: 0.6s;
}

.Btn-Small:hover,
.Btn-Medium:hover,
.Btn-Big:hover,
.Btn-Dangerous:hover,
.Btn-Safe:hover,
.Btn-Name:hover,
.CalendarBtn:hover {
  background-color: rgba(209, 212, 255, 0.151);
}
.CalendarBtn {
  margin-left: 2em;
  margin-right: 1em;
}
.Btn-Dangerous {
  margin-left: 15px;
}

.Filter-Name {
  display: flex;
  justify-content: flex-end;
}
.Input-Name {
  width: 150px;
  height: 50%;
  margin-right: 0.3%;
  margin-left: 1%;
  border-radius: 6px;
  border: 1px solid #ffffff3b;
  cursor: pointer;
  font-size: 0.8em;
  margin-top: 0.3em;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
}

.CalendarGlobal {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5em;
}

.CalendarStart,
.CalendarEnd {
  border: 2px solid #ffffff3b;
  cursor: pointer;
  background-color: rgba(7, 7, 7, 0.082);
  color: #ffffff;
  border-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  letter-spacing: 1px;
}

.CalendarEnd {
  font-style: italic;
  color: darkgrey;
}

.AllFilter {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.CardName {
  display: flex;
  justify-content: flex-end;
}

.DateNameFilter {
  display: flex;
  align-items: baseline;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 3em;
}

.EmptySearch {
  height: 38vw;
}
