@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.Header {
  height: 51.08vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.NEOBSERVER {
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  font-size: 130px;
  letter-spacing: 10px;
  align-self: center;
  text-shadow: 4.5px 7px 6px rgb(0, 0, 0);
}

.discover {
  align-self: center;
  font-variant: small-caps;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.486);
}
