@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.Header {
  height: 51.08vw;
  display: flex;
  justify-content: center;
}

.NEOBSERVER {
  font-family: 'Roboto' sans-serif;
  font-size: 4.5em;
  color: white;
  height: 5vw;
  align-self: center;
}
