* {
  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;
  background: rgba(0, 0, 0, 0), 35);
}

.NavBar {
  display: flex;
  padding-top: 15px;
}

.Logo {
  float: left;
}

.NavLinkText {
  list-style: none;
  color: white;
  background-color: #4b4b4b;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  margin-right: 20px;
  height: 15px;
  width: 70px;
  text-align: center;
}

.NavButtons {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 25px;
}

/*.NavLink :first-of-type {
    justify-content: flex-start;
}*/
